@media (max-width: 767.98px) { 
    tbody td{
        font-size: 0.9rem;
    }
    .trCabecalho td{
        font-size: 0.9rem;
    }
    .input-group-lg{
        display: none;
    }
    .input-group-md{
        display:inline-flex;
    }
}
