*{
    margin: 0;
    border:0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}
.sombraSuave{
    box-shadow: 2px 2px 5px #1b1b1b33;
}
.titulo{
    color:#00263a;
}
.trCabecalho{
    font-weight: bold;
    text-transform: capitalize;
}
.trCabecalho td{
    font-size: 1rem;
    color:#00263a;
}
tbody tr:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 3px #3e3e3e76;
}
tbody tr:hover td{
    background-color: #65A3FE;
    color:#fff;
}
.footer a:hover{
    text-decoration: underline;
    color: #199BE2;
    cursor:pointer;
}
.btn-primary{
    background-color: #199BE2;
    border-color:#199BE2
}
.footer a{
    color: #9D9EA0;
    text-decoration: none;
}
#main{
    display: none;
}
#load{
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
};
#main{
    display: flex;
    align-items: center;
}
.display-6{
    text-transform: capitalize;
}
#lupaPesquisa{
    background-color: #fff;
}
.input-group-lg{
    display:inline-flex;
}
.input-group-md{
    display: none;
}